<div class="area-cmt">
  <div class="display-cmt">
    <%= link_to gravatar_for(comment.user, size: 38), comment.user %>
    <p>
      <%= link_to comment.user.name, comment.user %>
      <%= comment.body %>
    </p>
  </div>

  <div class="reaction-cmt">
    <%# <span class="like-btn"> 
      <span class="like-btn-emo like-btn-default"></span> 
      <span class="like-btn-text"><a href="#">Like&nbsp</a></span> 
      <ul class="reactions-box">
        <li class="reaction reaction-like" data-reaction="Like"></li>
        <li class="reaction reaction-love" data-reaction="Love"></li>
        <li class="reaction reaction-haha" data-reaction="HaHa"></li>
        <li class="reaction reaction-wow" data-reaction="Wow"></li>
        <li class="reaction reaction-sad" data-reaction="Sad"></li>
        <li class="reaction reaction-angry" data-reaction="Angry"></li>
      </ul>
    </span> %>
    <a href="#">Like&nbsp</a>
    .
    <a href="#">&nbspReply&nbsp</a>
    .&nbsp
    <span class="time-cmt">
      <%= time_ago_in_words(comment.created_at) %> ago
    </span>
  </div>
</div>