<div class="modal" id="users_liked_post_modal" role="dialog">
  <div class="modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h6 class="title-modal">
          <% if micropost.reaction.count == 0 %>
            Nobody like, let's the first people like this post
          <% else %>
            <%= micropost.reaction.count %> liked
          <% end %>
        </h6>
        <hr>
        <% if @users.count != 0 %>
          <div class="modal-list-users">
            <ul>
              <% @users.each do |user| %>
                <li><%= link_to user.name, user, target: '_blank' %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn next-step" data-dismiss="modal">
          <%= t("buttons.ok") %>
        </button>
      </div>
    </div>
  </div>
</div>
