@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 60px;
  background-image: url(/background-kizukai.png);
  background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background: linear-gradient(100deg, rgba(80,92,253,1) 0%, rgba(0,219,222,1) 100%);
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: #777;
}

p {
font-size: 1.1em;
line-height: 1.7em;
}

/* notifications */
.notifications-box{
  width: 250px;
  position: fixed;
  bottom: 10px;
  left: 40px;
}
#notifications-alert{
  display: none;
}


/* header */
.badge{
  position: relative;
  top: -11px;
  margin-left: -9px;
  margin-right: -5px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    margin-top: 2.5px;
  }
  
#logo:hover {
color: #fff;
text-decoration: none;
}

.navbar-fixed-top{
  background: linear-gradient(100deg, rgba(80,92,253,1) 0%, rgba(0,219,222,1) 100%);
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #555;
    font-weight: bold;
  }

footer a {
color: #555;
}

footer a:hover {
color: #222;
}

footer small {
float: left;
}

footer ul {
float: right;
list-style: none;
}

footer ul li {
float: left;
margin-left: 15px;
}

/* sidebar */

aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}
  
input {
    height: auto ;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* errors */
#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

.field_with_errors {
@extend .has-error;
.form-control {
    color: $state-danger-text;
}
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  hr{
    border-top: 1px solid #c7c3c3;
  }
  li {
    padding: 10px 0px;
    border: 1px solid #e8e8e8;
    background-color: #f7f7f7;
    margin-top: 12px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .user {
    position: relative;
    top: 5px;
  }
  .content {
    display: block;
    margin-top: 30px;
    margin-left: 5px;
    img {
      display: block;
      padding: 5px 0;
      margin-top: 10px;
    }
    .gravatar{
      float: left;
      margin-right: 10px;
      margin-top: 5px;
      height: 30px;
      width: 30px;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
    margin-top: 5px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .area-box-subcmt{
    margin-left: 57px;
    display: flex;
    margin-top: 8px;
  }
  .box-subcmt{
    width: 591px;
    height: 35px;
    border-radius: 25px;
    padding-left: 13px;
    outline: none;
    margin-bottom: 0px;
    margin-top: 8px;;
  }
  .box-comment{
    display: flex;
    margin-top: 10px;
    margin-left: 9px;
    .gravatar {
      height: 38px;
      width: 38px;
      margin-top: 11px;
      border-radius: 50%;
    }
    .typecmt{
      position: relative;
      top: 10px;
      padding-left: 15px;
      border-radius: 30px;
      height: 38px;
      outline: none;
      width: 650px;
    }
  }
  .area-cmt{
    .area-btn-showsubcmt{
      display: flex;
      margin-top: 8px;
      .icon-showsubcmt{
        background-image: url(/other_arrow-right_other___2-512.png);
        height: 12px;
        width: 14px;
        background-repeat: no-repeat;
        margin-left: 65px;
        background-size: cover;
        margin-right: 12px;
      }
    }
    
    .display-cmt{
      display: flex;
      width: 660px;
      margin-top: 8px;
      margin-left: 8px;
      
      .gravatar{
        border-radius: 50px;
      }
      p{
        margin-top: 6px;
        background-color: #8e8e8a26;
        padding: 5px 10px 5px 10px;
        border-radius: 15px;
        word-break: break-all;
        a{
          font-weight: bold;
        }
      }  
    }
    .subcmt-area{
      margin-left: 48px;
    }
    .reaction-cmt{
      display: block;
      margin-left: 62px;
      margin-top: -8px;
      .like-btn{
        position: relative;
        .Haha{
          color: rgb(247, 177, 37);;
          font-weight: bold;
        }
        .Love{
          color: rgb(243, 62, 88);
          font-weight: bold;
        }
        .Care{
          font-weight: bold;
          color: rgb(247, 177, 37);
        }
        .Wow{
          font-weight: bold;
          color: rgb(247, 177, 37);
        }
        .Sad{
          font-weight: bold;
          color: rgb(247, 177, 37);
        }
        .Like{
          font-weight: bold;
          color: rgb(32, 120, 244);
        }
        .Angry{
          font-weight: bold;
          color: rgb(233, 113, 15);
        }
      }
      .like-btn:hover .reactions-box{
        visibility: visible;
        opacity: 1;
      }
      .reactions-box{
        position: absolute;
        height: 50px;
        width: 371px;
        background-color: #dcdcdc;
        border-radius: 50px;
        top: -55px;
        left: -10px;
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: visibility .05s, opacity 0.5s linear;
        .reaction{
          list-style-type: none;
          height: 42px;
          width: 42px;
          margin-top: 3.6px;
          display: block;
          transition: all ease-in-out 0.1s;
        }
        .reaction:hover {
          margin-top: -1.6px;
          transform: scale(1.2,1.2);
        } 
        .reaction::before {
          display: inline-block;
          color: #ffffff;
          text-align: center;
          line-height: 17px;
          font-size: .8em;
          width: 36px;
          height: 17px;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 20px;
          position: absolute;
          top: -25px;
          font-weight: bold;
          margin-left: 3px;
          opacity: 0;
          transition: opacity .2s ease-in-out 0s;
        }
        .reaction:hover::before {
          opacity: 1
        }        
        .reaction-like{
          background-image: url('/reactions/reactions_like.png');
          background-size: cover;
          margin-left: 12px;
        }
        .reaction-like::before{
          content: "Like";
        }
        .reaction-love{
          background-image: url('/reactions/reactions_love.png');
          background-size: cover;
          margin-left: 9px;
        }
        .reaction-love::before{
          content: "Love";
          
        }
        .reaction-care{
          background-image: url('/reactions/reactions_care.png');
          background-size: cover;
          margin-left: 9px;
        }
        .reaction-care::before{
          content: "Care";
          
        }
        .reaction-haha{
          background-image: url('/reactions/reactions_haha.png');
          background-size: cover;
          margin-left: 9px;
        }
        .reaction-haha::before{
          content: "Haha";
        }
        .reaction-wow{
          background-image: url('/reactions/reactions_wow.png');
          background-size: cover;
          margin-left: 9px;
        }
        .reaction-wow::before{
          content: "Wow";
        }
        .reaction-sad{
          background-image: url('/reactions/reactions_sad.png');
          background-size: cover;
          margin-left: 9px;
        }
        .reaction-sad::before{
          content: "Sad";
        }
        .reaction-angry{
          background-image: url('/reactions/reactions_angry.png');
          background-size: cover;
          margin-left: 9px;
        }
        .reaction-angry::before{
          content: "Angry";
        }
      }
      a{
        font-size: 13px;
        opacity: 0.9;
      }
      .time-cmt{
        color: #868688;
      }
    }
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* btn login with gg and facebook */
.login-other{
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.google{
  background-color: #b12727;
}
.google:hover{
  background-color: rgb(105, 43, 43);
}
