// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button-micropost{
  color: #606770;
  font-weight: 800;
  padding-right: 165px;
  padding-left: 130px;
}

hr {
  margin-bottom: 10px;
}
