<footer class="footer">
  <small>
    The website is developed 
    by <b><a href="https://www.facebook.com/Thinhby.1616.99">Thinh The Nguyen</a></b> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://www.linkedin.com/in/nguyen-thinh-3544311b5/">My linkedin</a></li>
    </ul>
  </nav>
</footer>